{% extends '_base.html' %}


{% block content %}
    <div class="col-lg  ">
        <div class="card" style="width: 18rem;">
            <img src="/media/{{ auction.product_id.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
                <div>
                    {% if not stats.1 %} 
                        <small>Time left:</small>
                        <small >{{ stats.0 }}</small>
                    {% else %}
                        <p>Auction Ended! The winner is : {{  stats.3 }}</p>
                    {% endif %}
                    <br>
                    <small>Current bit:</small>
                    <b>USD {{stats.2}}$</b> 
                    <small>[ {{ auction.number_of_bids }} bids ]</small>
                </div>
                <div>
                    <br>
                    {% if not stats.1 %} 
                            <button type="button" id="b_button" class="btn btn-primary" onclick="location.href='/bid/{{auction.id}}/raise_bid'">
                                    Bid 
                            </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}