{% extends '_base.html' %}


{% block content %}
    <section class="p-5">
        <div class="container">
            <div class="row">
               <div class="col-lg-5">
                <img src="/media/{{ auction.product.image }}" class="card-img-top" alt="...">
               </div>
               <div class="col-lg-7">
                    <p>{{ auction.product.title }}</p>
                    <!-- {% lorem 3 p  %} -->
                    <p>{{ auction.product.description }}</p>
                    <div class="m-2">
                        {% if not stats.1 %} 
                            <small class="">Time left:</small>
                            <small >{{ stats.0 }}</small>
                        {% else %}
                            <p>Auction Ended! The winner is : {{  stats.3 }}</p>
                        {% endif %}
                        <br>
                        <div class="pt-3">
                            <small>Current bit:</small>
                            <b>USD {{stats.2}}$</b> 
                            <small>[ {{ auction.number_of_bids }} bids ]</small>
                        </div>
                    </div>
                    <div>
                        <br>
                        {% if not stats.1 %} 
                                <button type="button" id="b_button" class="btn btn-primary" onclick="location.href='/bid/{{auction.id}}/raise_bid'">
                                        Bid 
                                </button>
                        {% endif %}
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-primary watch_button mt-4" onclick="location.href='/watchlist/{{auction.id}}'">
                            {% if watchlist %}
                                Unwatch
                            {% else %}
                                Watch 
                            {% endif %}
                        </button>
                    </div>
               </div> 
            </div>
        </div>
    </section>

    
{% endblock content %}