{% extends '_base.html' %}
{% load static %}
{% load custom_tags %}


{% block scripts %}
    <script src="{% static 'js/main.js' %}" defer></script>
{% endblock scripts %}


{% block content %}
{% for auction in auctions %}
                <div class="col-lg ">
                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{ auction.product_id.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ auction.product_id.title }}</h5>
                            <p class="card-text">{{ auction.product_id.description }}</p>
                            {% if auction.expired %}
                                expired auction
                            {% else %}
                                {% if auction.time_starting|time_left == 0 %}
                                <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/bid/{{auction.id}}'">Bid Now</button>
                                {% else %}
                                <p class="card-text">
                                    <small >{{ auction.time_starting|time_left }}</small><br>
                                    <small class="text-muted" id="event-box">Auction starts: {{ auction.time_starting|date:"M d, Y H:m:s" }}</br></small>   
                                </p>
                                {% endif %}                           
                            {% endif %}
                            
                            
                            
                            <!-- WATCH BUTTON -->
                            <div>
                                <button type="button" class="btn btn-outline-primary watch_button mt-4" onclick="location.href='/watchlist/{{auction.id}}'">
                                {% if watchlist %}
                                    {% if watchlist|search:auction.id%}
                                    Unwatch
                                    {% else %}
                                    Watch 
                                    {% endif %}
                                {% else %}
                                    Watch 
                                {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    
    

{% endblock content %}