{% extends '_base.html' %}
{% load custom_tags %}


{% block content %}
    
        <section class="m-5">
            <div class="container">
                <div class="row">
                    {% for auction in auctions %}
                        <div class="col-lg-3 p-2">
                            <div class="card" style="width: 18rem;">
                                <img src="/media/{{ auction.product.image }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    {% if auction.expired %}
                                        expired auction
                                    {% else %}
                                        <h5 class="card-title">{{ auction.product.title }}</h5>
                                        <p class="card-text">{{ auction.product.description|truncatechars:100 }}</p>
                                        {% if request.user.is_authenticated %}
                                            {% if auction.time_start|time_left == 0 %}
                                            <button type="button" class="btn btn-primary" onclick="location.href='/bid/{{auction.id}}'">
                                                Bid Now
                                            </button>
                                            {% else %}
                                            <p class="card-text">
                                                <small >{{ auction.time_start|time_left }}</small><br>
                                            </p>
                                            {% endif %}  
                                            
                                            <!-- WATCH BUTTON -->
                                            <div>
                                                <button type="button" class="btn btn-outline-primary watch_button mt-4" onclick="location.href='/watchlist/{{auction.id}}'">
                                                    {% if watchlist %}
                                                        Unwatch
                                                    {% else %}
                                                        Watch 
                                                    {% endif %}
                                                </button>
                                            </div>
                                        {% else %}
                                            <p>please login</p>
                                        {% endif %}
                                    {% endif %}
                                    
                                
    
                                
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
    
    

{% endblock content %}