{% extends '_base.html' %}
{% load custom_tags %}


{% block content %}
{% now "Y-m-d-H-i-s" as todays_date %}
{% for auction in auctions %}
                <div class="col-lg ">
                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{ auction.product_id.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ auction.product_id.title }}</h5>
                            <p class="card-text">{{ auction.product_id.description }}</p>
                            <p class="card-text"><small class="text-muted">
                                Auction starts: {{ auction.time_starting|date:'d-m-Y H:i:s' }}</br>
                                Auction ends in: {{ auction.time_ending|time_left }} 
                            </small></p>
                            
                            {% if todays_date > auction.time_starting|date:'Y-m-d-H-i-s' %}
                            <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/bid/{{auction.id}}'">Bid Now</button>  
                            {% endif %}
                            
                            <!-- WATCH BUTTON -->
                            <div>
                                <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/watchlist/{{auction.id}}'">
                                {% if watchlist %}
                                    {% if watchlist|search:auction.id%}
                                    Unwatch
                                    {% else %}
                                    Watch 
                                    {% endif %}
                                {% else %}
                                    Watch 
                                {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    
    

{% endblock content %}